
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  display: block;
  font-family:  "Ponomar", system-ui;
  color: #F7F7F7 !important;
  background-color: linear-gradient(180deg, #451952,#3C0753)!important;
  font-size: 16px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


h1 span.customColor {
  color: var(--mainBlue) !important;
}

em {
  color: var(--mainBlue) !important;
}

p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--paraGraphColor);
  margin: 2em 0;
  text-align: left;
  padding: 0 1em;
  margin: auto;
}

ul, li {
  font-size: 1em;
}

h6 {
  transition: transform 1s;
}

h6:hover {
  transform: scaleX(1.05);
}

span {
  color: #fff;
}


