


.about-card{
    display:block;
    width:auto;
    height:180px;
    padding:1em;
    border-radius: 10px;
    margin:1em auto;
    box-shadow: 0px 0px 5px 2px gray;
    background-color: #544B72;
    
}