@use './heading';
#homeContainer{
  
}

#homeContainer #homePage h3{
    font-size: 2.8em;
  }

   #homeContainer #homePage .jumbotron .container p{
    font-size: 1em;
   }
   .customColor{
    color:#19a7ce;
    
   }
   .heading{
    @include heading.heading;
   }

   .name{
    @include heading.name;
   }