
#navContainer{
    margin:auto;
    text-align: center;
    width:100%;

  }
  
  #navContainer nav.navbar a.navbar-brand{
      display:none!important;
      color: #19a7ce !important;
      font-size: 1.5em;
    }
  
    #navContainer > button{
      background-color: #fff;
      border:none;
    }
  
      #navContainer > button > span.navbar-toggler-icon{
        color: #19a7ce !important;
        border: #19a7ce !important;
        outline: #19A7CE!important;
        transition:all .5s ease;
      }
  
      #navContainer button:hover{
        border:none;
        outline:none;
      }
    #navContainer ul{
      text-align: center;
      overflow: hidden;
  
    }
   #navContainer ul li.nav-item{
    width:100%;
      padding:0 0;
      margin:0 0;
      text-align: center;
      overflow: hidden;
     font-size: 1.40rem;
     transition:all 0.3s ease-in-out;
     letter-spacing: 2px;
  
    }
  
    #navContainer ul li:hover{
      /* transform: scale(0.5)!important; */
      transition:all .5s ease;
    }
  #navbarNav{
    
  }
  
  