@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root{
  --mainBackground:#EBD3F8;
  --mainColor:#7A1CAC;

}

body{
  background-color: var(--mainBackground)!important;
  color:var(--mainColor)!important;
}